.dashboard__graph_center {
  margin: 0 auto;
  max-width: 1700px;
}
.dashboard__btn {
  display: inline-block;
  border: 2px solid #D0D4D8;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #00355E;
  background-color: #FBF9F5;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
}

.dashboard__btn:disabled, .dashboard__btn:disabled:hover{
  color: gray;
  background-color: #FBF9F5;
  cursor: default;
}

.dashboard__btn:hover {
  background-color: #00355E;
  color: #D0D4D8;
}
.dashboard__btn_little {
  font-size: 16px;
  padding: 3px 10px;
  height: 35px;
}
.dashboard__btn_margin {
  margin: 20px 0 0 20px;
}
.dashboard__text{
  font-size: 20px;
  color: #00355E;
  font-family: "Roboto", sans-serif;
  background-color: #EDECEA;
  display: block;
  max-width: 1620px;
  box-sizing: border-box;
}
.dashboard__text_little{
  font-size: 16px;
}
.dashboard__text_error{
  background-color: rgba(244, 101, 99, 0.6);
}
.dashboard__text_ok{
  background-color: rgba(117, 215, 172, 0.6);
}
.dashboard__text_margin{
  margin: 0 0 0 20px;
}
.dashboard__text_padding {
  padding: 5px 10px;
}
.dashboard_flex {
  display: flex;
  gap: 5px;
  align-items: center;
}