.change-value{
  display: flex;
  margin: 10px 0px 10px 50px;
  gap:20px;
}
.change-value > label{
  font-size: 20px;
}
.change-value > button{
  font-size: 16px;
}
.input-error{
  border: 1px solid  rgba(225, 68, 68, 0.704);
  border-radius: 3px;
  font-size: 16px;
  color:  rgba(225, 68, 68, 0.704);
}
/* .warning-treshold{
  margin: 3px;
} */
input:focus{
  outline: none;
}
label > p {
  font-size: 14px;
  color:  rgba(225, 68, 68, 0.704);
}
label{
  margin: 10px 0 10px 0 ;
}