.data-table{
  border-collapse: collapse;
  width: 25%;
  margin: 0 50px;
  font-size: 20px;
  line-height: 90%;
}
td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 10px;
}
th {
  text-transform: uppercase;
}
.value-good {
  background-color: rgba(143, 189, 143, 0.8);
}
.value-bad {
  background-color: rgba(225, 68, 68, 0.704);
}
/* .td-width{
  width: 100px;
} */